[submodule "public/sdk"]
	path = public/sdk
	url = https://github.com/webaudiomodules/sdk
[submodule "public/plugins/TER"]
	path = public/plugins/TER
	url = https://github.com/michael-marynowicz/TER.git
