body, html {
    background-color: black;
}

.music-app {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #1C1E21;
    overflow: hidden;
}

.track-editor {
    padding-top: 39px;
    height: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.plugin-editor {
    height: 0px;
    background: #1C1E21;
    border: 1px solid black;
    border-top: none;
    overflow-y: auto;
    z-index: 2;
}

.head-track-editor, .head-plugin-editor, .head-track-waveform {
    z-index: 8;
    background-color: #3b4046;
    border: 1px solid black;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    color: lightgray;
    padding-top: 0.2em;
    padding-left: 0.75em;
    height: 1.9em;
}

.head-track-editor {
    border-top: none;
    width: 200px;
    user-select: none;
}

.head-track-waveform {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 6000px;
    padding-top: 24px;
    background-color: #3b4046;
    border: 1px solid black;
    border-top: none;
}

.head-plugin-editor {
    /*position: fixed;*/
    width: 99.9%;
    border-right: 1px solid black;
    user-select: none;
    position: absolute;
    bottom: 0;
    z-index: 20;
}

.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #1C1E21;
    padding-bottom: 22px
}

.tools-tracks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #111113;
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    color: lightgray;
    overflow-y: scroll;
    overflow-x: scroll;
    min-width: 210px;
}

.audio-tracks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #1C1E21;
    overflow-y: auto;
    width: 6000px;
}

.wave-form {
    display: grid;
    margin-left: 3px;
    min-height: 104px;
    border: 1px solid black;
    width: 6000px;
    max-height: 100px;
}

/* Track Element */
.track-element {
    border: 1px solid black;
    height: 104px;
    width: 200px;
    background-color: #31353A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.track-element:hover {
    background-color: #373c41;
}

.right-icon, .left-icon, .mute-icon, .solo-icon {
    font-size: 1.3em;
    font-weight: bold;
    font-family: monospace;
    font-style: normal;
    pointer-events: none;
}

.left-icon {
    color: lightgray;
    padding-left: 2px;
    padding-right: 1px;
}

.right-icon {
    color: lightgray;
    padding-left: 1px;
    padding-right: 4px;
}

.ui.inverted.grey.slider.track {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.plugin-rack {
    padding-top: 30px;
}

#mount1 {
    width: 100%;
}

.timer {
    font-weight: bold;
    font-size: 2em;
    color: #4d5ed1;
}

a.item.menu {
    background-color: #4d5ed1 !important;
}

a.item.menu:hover {
    background-color: #4d5ed1 !important;
}

div.ui.dropdown.icon.item {
    background-color: #4d5ed1 !important;
}

div.ui.dropdown.icon.item:hover {
    background-color: #5969d3 !important;
}

a.item.volume-slider {
    width: 15em; height: auto;
}

i.icon {
    margin: 0 !important;
}

.main-menu {
    max-height:60px;
    background-color: #31353A !important;
    font-family: monospace;
    border-radius: unset;
    margin: 0;
    border: 1px solid black !important;
}

.pluginAutomationParamId{
    color: white;
}
.mySelected {
    border: 1px solid lightgrey;
}

.ui.input {
    width: 80px !important;
}


.item:hover {
    cursor: pointer;
}

.item.disabled:hover {
    cursor: not-allowed;
}

.waiting:hover {
    cursor: wait;
}